header {
  background-color: rgb(50, 115, 255);
  border-bottom: 1px solid #d0d0d0;
  width: calc(100vw - 60px);
  color: black;
  padding: 25px 30px;
  position: fixed;
  z-index: 1;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > div h2{
  margin: 0
}

header > div nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


header > div nav ul li {
  list-style: none;
}

header > div nav ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
}

header > div nav ul li a:hover {
  color: rgb(103, 106, 235);
  font-size: 20px;
  font-weight: 700;
  background-color: beige;
  border-radius: 5px;
  
}
